[submodule "libs/typegoose-cursor-pagination"]
	path = libs/typegoose-cursor-pagination
	url = git@github.com:stigma-io/typegoose-cursor-pagination.git
[submodule "libs/payload"]
	path = libs/payload
	url = git@github.com:stigma-io/payload.git
