[submodule "libs/payload"]
	path = libs/payload
	url = https://github.com/stigma-io/payload.git
[submodule "libs/typegoose-cursor-pagination"]
	path = libs/typegoose-cursor-pagination
	url = https://github.com/stigma-io/typegoose-cursor-pagination.git
