.tmp
**/.git
**/.hg
**/.pnp.*
**/.svn
**/.yarn/**
**/build
**/dist/**
**/node_modules
**/temp
./apps/admin/src/app/*
./app/admin/node_modules/*
./app/admin/public/*
./app/admin/docker/*
./app/admin/.next/*
./app/admin/src/payload-types.ts
./app/web/node_modules/*
./app/web/docker/*
./app/web/public/*
./docker/*
./libs/*
./packages/services/*
./packages/backend/node_modules/*
./packages/backend/dist/*
./packages/backend/.turbo/*
./packages/backend/common/*
