@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
	color: #ffff;
	background-color: #0c0c0c;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #0c0c0c;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

input,
button {
	background-color: transparent;
	outline: none !important;
	outline: 0; /* I have also tried outline:none */
	-webkit-appearance: none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	--tw-ring-shadow: 0 0 #272727 !important;
}
input {
	border: none;
	padding: 0;
}
textarea:focus,
input:focus {
	outline: none !important;
	--tw-ring-offset-width: 0 !important;

	/*border: none !important;*/
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px #272727 inset !important;
}
@media screen and (max-width: 768px) {
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px #0c0c0c inset !important;
	}
}
.p_line_unset::first-line {
	line-height: 0em;
}

button {
	/*background-color: #125BFF;*/
	border: none;
	/*width: 100%;*/
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
/*table tr {
    clip-path: xywh(0 0 100% 100% round 0.5em);
}*/
.main_div_style {
	width: 100%;
	height: 100%;
	padding: 3.125rem 7.5rem 7.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title_primary {
	font-weight: bold;
	font-size: 3rem;
}

.scroller__inner {
	display: flex;
}

.scroller-y .scroller__inner {
	display: flex;
	flex-direction: column;
}

.scroller[data-animated="true"],
.scroller-y[data-animated="true"] {
	overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner,
.scroller-y[data-animated="true"] .scroller__inner {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	flex-wrap: nowrap;
}

.scroller[data-animated="true"] .scroller__inner {
	-webkit-animation: scrollX var(--_animation-duration, 40s)
		var(--_animation-direction, forwards) linear infinite;
	animation: scrollX var(--_animation-duration, 40s)
		var(--_animation-direction, forwards) linear infinite;
}

.scroller-y[data-animated="true"] .scroller__inner {
	-webkit-animation: scrollY var(--_animation-duration, 40s)
		var(--_animation-direction, forwards) linear infinite;
	animation: scrollY var(--_animation-duration, 40s)
		var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"],
.scroller-y[data-direction="right"] {
	--_animation-direction: reverse;
}

.scroller[data-direction="left"],
.scroller-y[data-direction="left"] {
	--_animation-direction: forwards;
}

.scroller[data-speed="fast"],
.scroller-y[data-speed="fast"] {
	--_animation-duration: 20s;
}

.scroller[data-speed="slow"],
.scroller-y[data-speed="slow"] {
	--_animation-duration: 60s;
}

@-webkit-keyframes scrollX {
	to {
		transform: translateX(calc(-50% - 0.5rem));
	}
}

@keyframes scrollX {
	to {
		transform: translateX(calc(-50% - 0.5rem));
	}
}

@-webkit-keyframes scrollY {
	to {
		transform: translateY(calc(-50% - 0.5rem));
	}
}

@keyframes scrollY {
	to {
		transform: translateY(calc(-50% - 0.5rem));
	}
}

.numbers-blue::after {
	content: attr(data-end);
	color: #125bff;
}

.numbers-yellow::after {
	content: attr(data-end);
	color: #e4ff29;
}

.animated-gradient {
	animation: animateBg 2s linear infinite;
	background-image: linear-gradient(
		90deg,
		#a11eaf,
		#7520b9,
		#7619aa,
		#a11eaf,
		#7520b9
	);
	background-size: 400% 100%;
}

.animated-gradient-blue {
	animation: animateBg 5s linear infinite;
	background-image: linear-gradient(90deg, #4131ff, #600dd6, #5123c4, #4131ff);
	background-size: 400% 100%;
}

@keyframes animateBg {
	0% {
		background-position: 100% 0%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.noSelect {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dropdown-transition_enter {
	animation: dropdown-transition_start ease-out .2s;
}

.dropdown-transition_end {
	animation: dropdown-transition_leave ease-out .3s 1s;
}

@keyframes dropdown-transition_start {
	from {
		opacity: 0;
		scale: 0.95;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes dropdown-transition_leave {
	from {
		opacity: 1;
		scale: 1;
	}
	to {
		opacity: 0;
		scale: 0.95;
	}
}

.tracking-loose {
	letter-spacing: 1px;
}

.text-smaller {
	font-size: 90%;
}

.button-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #6366f1;
	background-size: 600% 600%;
	border-radius: 10px;
	z-index: -1;
	transition: all .8s ease-in;
	filter: blur(4px);
	opacity: 0.65;
}

.button-wrapper:hover .button-bg {
	width: calc(100% + 1px);
	height: calc(100% + 1px);
	transform: translate(-1px, -1px);
	filter: blur(8px);
	transition: all .4s ease-in;
	opacity: 0.8;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.plusminus_animation {
	position: relative;
	cursor: pointer;

	&.active {
		&:before {
			transform: translatey(-50%) rotate(90deg);
			opacity: 0;
		}

		&:after {
			transform: translatey(-50%) rotate(0);
		}
	}

	&:before,
	&:after {
		content: "";
		display: block;
		background-color: #e4ff29;
		position: absolute;
		top: 50%;
		left: 0;
		transition: 0.35s;
		width: 100%;
		height: 4px;
	}

	&:before {
		transform: translatey(-50%);
	}

	&:after {
		transform: translatey(-50%) rotate(-90deg);
	}
}

.back_to_top_button {
	transform: translatey(0px);
	animation: float_back_to_top_button 3s ease-in-out infinite;
}

@keyframes float_back_to_top_button {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.text_inline {
	display: -webkit-box;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

.ticker-item {
	position: relative;
	-webkit-animation: backandforth 20s ease 0s;
	-webkit-animation-iteration-count: infinite;
	animation: ticker 20s linear 0s;
	animation-iteration-count: infinite;
}
@keyframes ticker {
	0% {
		transform: translate(5%, 0);
	}

	50% {
		transform: translate(-110%, 0);
	}

	100% {
		transform: translate(5%, 0);
	}
}

.progress_download-report {
	background: repeating-linear-gradient(90deg, #b3ff00 0 10px, #0000 0 15px) 0 /
		0% no-repeat content-box content-box;
}
@keyframes p4 {
	100% {
		background-size: 120%;
	}
}
