NEXT_PUBLIC_SERVER_URL=http://localhost:2055
NEXT_PUBLIC_BACKEND_URL=http://localhost:2055
S3_BUCKET_USER_MEDIA=user-media
S3_BUCKET_DOC_FILE=sigma-chat

FORCE_COLOR=1
NODE_ENV=development
PORT=2055
REDIS_HOST=10.199.20.10
PAYLOAD_SECRET=YOUR_SECRET_HERE
DATABASE_URI=postgres://postgres:sigma123!@10.199.20.10:5439/sigma-chat
#
SESSIONS_KEY=sid
REDIS_SESSION_PREFIX=sess
COOKIE_SECRET="pugTgF8eEYmjAWFC31rf1qNxCuyQCX"
BACKEND_COOKIE_HOST=localhost
BACKEND_HOST=localhost
BACKEND_URL=http://localhost:2050
NEXT_PUBLIC_FRONTEND_URL=http://localhost:2051

S3_ENDPOINT=http://10.199.20.10:9190
S3_ACCESS_KEY_ID=sigma
S3_SECRET_ACCESS_KEY=sigma123!
S3_REGION=us-east-1
S3_BUCKET_USER_AVATAR=user-media-avatar
S3_BUCKET_TENANT_MEDIA=tenant-media

REDIS_PASSWORD=sigma123!
REDIS_PORT=6379
