# Database connection string
DATABASE_URI=

# Used to encrypt JWT tokens
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_BACKEND_URL=http://localhost:2050
NEXT_PUBLIC_FRONTEND_URL=http://localhost:2051
NEXT_PUBLIC_SERVER_URL=http://localhost:2055

REDIS_HOST=10.199.20.10
REDIS_PORT=6379
REDIS_PASSWORD=

NODE_ENV=development
#NODE_ENV=production

SESSIONS_KEY=sid
REDIS_SESSION_PREFIX=sess:
COOKIE_SECRET=

S3_ENDPOINT=http://10.199.20.10:9190
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=us-east-1
S3_BUCKET_USER_MEDIA=user-media
S3_BUCKET_TENANT_MEDIA=tenant-media
S3_BUCKET_DOC_FILE=sigma-chat
